@(msg: String, form1: Form[LifeLog])

@import helper._

@main("入力画面") {
	<h2 class="bg-info">入力画面</h2>
	<p>@msg</p>
	<div class="container">
	@form(action = routes.LifeLogController.edit, 'class ->"form-horizontal") {
		@(inputText(
			field = form1("id"),
			args = 'type -> "hidden",
					'_label -> ""
		))
		@* TODO：汚いコードなのでなんとかしたい *@
		@{if (form1("id").value != null){
		(inputDate(
			field = form1("logDate"),
			args = '_label -> "日付",
					'readonly -> true
		))
		} else {
		(inputDate(
			field = form1("logDate"),
			args = '_label -> "日付"
		))
		}
		}
		<dl class=" " id="sleepHour_field">
			<dt><label for="sleepHour">就寝時刻</label>
			</dt>
			<dd>
				<input type="number" name="sleepHour" id="sleepHour" value="@form1("sleepHour").value" min="13" max="36">:
				<input type="number" name="sleepMin" id="sleepMin" value="@form1("sleepMin").value" min="0" max="59">
			</dd>
		</dl>
		<dl class=" " id="wakeUpHour_field">
			<dt><label for="wakeUpHour">起床時刻</label>
			</dt>
			<dd>
				<input type="number" name="wakeUpHour" id="wakeUpHour" value="@form1("wakeUpHour").value" min="0" max="23">:
				<input type="number" name="wakeUpMin" id="wakeUpMin" value="@form1("wakeUpMin").value" min="0" max="59">
			</dd>
		</dl>
		<dl class=" " id="leaveHour_field">
			<dt><label for="leaveHour">退社時刻</label>
			</dt>
			<dd>
				<input type="number" name="leaveHour" id="leaveHour" value="@form1("leaveHour").value" min="13" max="36">:
				<input type="number" name="leaveMin" id="leaveMin" value="@form1("leaveMin").value" min="0" max="59">
			</dd>
		</dl>
		@(inputText(
			field = form1("walkCount"),
			args = 'type -> "number",
					'min -> 0,
					'max -> 99999,
					'_label -> "歩数"
		))
		@(inputText(
			field = form1("runDistance"),
			args = '_label -> "RUN"
		))
		<dl class=" " id="readCount_field">
			<dt><label for="readCount">読書</label>
			</dt>
			<dd>
				TOTAL:<input type="number" name="readCount" id="readCount" value="@form1("readCount").value" min="0" max="99">
				（内 技術書：<input type="number" name="techReadCount" id="techReadCount" value="@form1("techReadCount").value" min="0" max="99">
				ビジネス書：<input type="number" name="bizReadCount" id="bizReadCount" value="@form1("bizReadCount").value" min="0" max="99">）
			</dd>
		</dl>
		@(inputText(
			field = form1("techStudyTime"),
			args = 'type -> "number",
					'min -> 0,
					'max -> 999,
					'_label -> "技術勉強時間(分)"
		))
		@(inputText(
			field = form1("englishStudyTime"),
			args = 'type -> "number",
					'min -> 0,
					'max -> 999,
					'_label -> "英語勉強時間(分)"

		))
		<input type="submit">
	}
	</div>
}