@(msg: String, form1: Form[LifeLog])(implicit webJarAssets: WebJarAssets)

@import helper._
@import b3.vertical.fieldConstructor

@main("入力画面") {
	<div class="panel panel-primary">
		<div class="panel-heading">入力画面</div>
		<p>@msg</p>
		<div class="container">
			@b3.form(routes.LifeLogController.edit) {
			@inputText(
			field = form1("id"),
			args = 'type -> "hidden",
			'_label -> ""
			)
			@* TODO：汚いコードなのでなんとかしたい *@
			@{if (form1("id").value != null){
			b3.date(
			form1("logDate"),
			'_label -> "日付",
			'readonly -> true
			)
			} else {
			b3.date(
			form1("logDate"),
			'_label -> "日付"
			)
			}
			}

			<div class="form-group" id="sleepHour_field">
				<label class="control-label" for="sleepHour">就寝時刻</label>
				<div class="row">
					<div class="col-xs-12">
						<input class="form-inline" type="number" name="sleepHour" id="sleepHour" value="@form1("sleepHour").value" min="13" max="36">
						:
						<input class="form-inline" type="number" name="sleepMin" id="sleepMin" value="@form1("sleepMin").value" min="0" max="59">
					</div>
				</div>
			</div>
			<div class="form-group" id="wakeUpHour_field">
				<label class="control-label" for="wakeUpHour">起床時刻</label>
				<div class="row">
					<div class="col-xs-12">
						<input class="form-inline" type="number" name="wakeUpHour" id="wakeUpHour" value="@form1("wakeUpHour").value" min="0" max="23">
						:
						<input class="form-inline" type="number" name="wakeUpMin" id="wakeUpMin" value="@form1("wakeUpMin").value" min="0" max="59">
					</div>
				</div>
			</div>
			<div class="form-group" id="leaveHour_field">
				<label class="control-label" for="leaveHour">退社時刻</label>
				<div class="row">
					<div class="col-xs-12">
						<input class="form-inline" type="number" name="leaveHour" id="leaveHour" value="@form1("leaveHour").value" min="13" max="36">
						:
						<input class="form-inline" type="number" name="leaveMin" id="leaveMin" value="@form1("leaveMin").value" min="0" max="59">
					</div>
				</div>
			</div>
			@b3.text(
			field = form1("walkCount"),
			args = 'type -> "number",
			'min -> 0,
			'max -> 99999,
			'_label -> "歩数"
			)
			@b3.text(
			field = form1("runDistance"),
			args = '_label -> "RUN"
			)
			<div class="form-group" id="readCount_field">
				<label class="control-label" for="readCount">読書</label>
				<div class="row">
					<div class="col-xs-12">
						<label class="control-label" for="readCount">TOTAL:</label>
						<input class="form-inline" type="number" name="readCount" id="readCount" value="@form1("readCount").value" min="0" max="99">
						<label class="control-label" for="techReadCount">（内 技術書：</label>
						<input class="form-inline" type="number" name="techReadCount" id="techReadCount" value="@form1("techReadCount").value" min="0" max="99">
						<label class="control-label" for="bizReadCount">ビジネス書：</label>
						<input class="form-inline" type="number" name="bizReadCount" id="bizReadCount" value="@form1("bizReadCount").value" min="0" max="99">
						<label class="control-label">）</label>
					</div>
				</div>
			</div>
			@b3.text(
			field = form1("techStudyTime"),
			args = 'type -> "number",
			'min -> 0,
			'max -> 999,
			'_label -> "技術勉強時間(分)"
			)
			@b3.text(
			field = form1("englishStudyTime"),
			args = 'type -> "number",
			'min -> 0,
			'max -> 999,
			'_label -> "英語勉強時間(分)"

			)
			@b3.submit('class -> "btn btn-primary"){登録}
			}
		</div>
	</div>
}