@* メッセージ, データのリスト、サマリ1、サマリ2 *@
@(msg: String, viewType: String, datas: List[LifeLog], sum1: LifeLog, sum2: LifeLog)

@import helper._

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main("LogApp2:" + msg) {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @*@play20.welcome(message, style = "Java") *@

    <p class="bg-primary">
        @{val title0 = if("M".equals(viewType)) {
            val prevMonth = LifeLogController.getMonth(msg,-1)
            val nextMonth = LifeLogController.getMonth(msg,1)
            "<a class=bg-primary href=/"+prevMonth+">＜</a> "+msg+" <a class=bg-primary href=/"+nextMonth+">＞</a>"
        } else {
           msg
        }
        Html(title0)
        }
    </p>

    <p class="bg-info">
        @{val title1 = if("M".equals(viewType)) {
            "年別集計(" + msg.substring(0,4) + "年)"
        } else if("W".equals(viewType)) {
            val lastWkDate = LifeLogController.getPrevWeekDate(msg)
            val lastWkDateList = LifeLog.getFirstAndLastDate(lastWkDate)
            "先週のサマリ(" + lastWkDateList(0) + "~" + lastWkDateList(1) + ")"
        }
        title1
        }
    </p>
    @summary(sum2)
    <p class="bg-info">
        @{val title2 = if("M".equals(viewType)) {
            "月別集計(" + msg.substring(0,4) + "年" + msg.substring(4,6) + "月)"
        } else if("W".equals(viewType)) {
            val wkDateList = LifeLog.getFirstAndLastDate(msg)
            "今週のサマリ(" + wkDateList(0) + "~" + wkDateList(1) + ")"
        }
        title2
        }
    </p>
    @summary(sum1)
    <p class="bg-success">
        @{val title3 = if("M".equals(viewType)) {
        "一覧(" + msg.substring(0,4) + "年" + msg.substring(4,6) + "月)"
        } else if("W".equals(viewType)) {
        val wkDateList = LifeLog.getFirstAndLastDate(msg)
        "一覧(" + wkDateList(0) + "~" + wkDateList(1) + ")"
        }
        title3
        }
    </p>
    @logList(datas)
}

