@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type="text/javascript">
            function showMonthPage() {

                var yearMonthAry = (yearMonthForm.yearMonth.value).split("-");
                if (yearMonthAry.length === 2) {
                    location.href = "/" + yearMonthAry[0] + yearMonthAry[1];
                } else {
                    alert("年月を選択して下さい");
                }
            }
            function showYearPage() {

                var yearMonthAry = (yearMonthForm.yearMonth.value).split("-");
                if (yearMonthAry.length === 2) {
                    location.href = "/" + yearMonthAry[0];
                } else {
                    alert("年月を選択して下さい");
                }
            }
        </script>
    </head>
    <body>
        @* 共通ヘッダ部分 *@
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarLogApp">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.LifeLogController.index()">LogApp2</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarLogApp">
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.LifeLogController.displayNew()">新規登録</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" name="yearMonthForm">
                        <div class="form-group"><input type="month" class="form-control" name="yearMonth"></div>
                        <button type="button" class="btn" onclick="showMonthPage()">月別表示</button>
                        <button type="button" class="btn" onclick="showYearPage()">年別表示</button>
                    </form>
                </div>
            </div>
        </nav>
        @* エラーメッセージ表示*@
        @tag.flashMessage()
        <div class="content">
            @* ページ内コンテンツ出力 *@
            @content
        </div>
    </body>
</html>
